<!DOCTYPE html>

<html>
  <header>
    <title>Naruto Quotes</title>
    <meta charset="UTF-8">
    <link href="styles.css" rel="stylesheet">
  </header>

  <script src='/javascripts/quote.js'></script>

  <body>
    <header>
      <image class='center' src="/images//NarutoTitle.png" alt="Random Naruto Quote Generator">
    </header>

    <div class="quote-box" style="text-align:center;">
      <p id="sugoi"><strong>"Quote goes here"<strong></p>
        <h1 id="shinobi"><strong> - Shinobi</strong></h1>
      <button class="button" onclick="changeQuote()">Click for a new ninja way</button>
    </div>

  </body>

</html>
